#content {
  position: absolute;
  top: 60px;
  left: 200px;
  right: 0px;
  bottom: 0px;
  /* background-color: yellow; */
  /* padding-left:  24px; */
  padding: 24px;
}

#content .paging-bar {
  height: 56px;
}

.paging-bar {
  border-top: 1px solid #bbbbbb;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  z-index: 1 !important;
}

.btn-pagenumber.btn-pagenumber-selected,
.btn-pagenumber-selected:hover {
  background-color: #019160;
  color: #ffffff;
}

.btn-pagenumber {
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #e9ebee;
  cursor: pointer !important;
}

.paging-bar .paging-record-info {
  position: absolute;
  left: 16px;
}

.paging-bar .paging-record-option {
  position: absolute;
  right: 16px;
}
