.dialog {
}

.dialog .model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}

.dialog .dialog-content {
  padding: 24px;
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 600px;
  border-radius: 4px;
  background-color: #ffffff;
  padding-bottom: 80px;
}

.dialog .dialog-title {
  font-size: 20px;
  font-weight: bold;
}

.dialog .dialog-close-button {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 4px 0 4px;
}

.dialog .dialog-close-button:hover {
  background-color: #bbb;
  cursor: pointer;
}

.dialog-hide {
  display: none;
}

.dialog .dialog-footer {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  background-color: #e5e5e5;
  height: 56px;
  border-radius: 0 0 4px 4px;
  left: 0;
  right: 0;
}

.dialog .dialog-footer button {
  position: absolute;
  right: 24px;
}
